.main-chat
  .main-chat__header
    .main-chat__header--group_member_list
      %p
        = @group.name
      %ul.menber-list 
        %li.list-title 
          Menber : 
          - @group.users.each do |user|
            = user.name

    .main-chat__header--btn
      = link_to edit_group_path(@group), class: "btn" do
        Edit

  .main-chat__contents
    = render @messages

  = form_for [@group, @message] do |f|
    .ajax
      .main-chat__footer
        .main-chat__footer--input_box
          .input
            = f.text_field :content, class: 'input', placeholder: 'type a message'
          .footer_logo
            = f.label :image, class: 'input-box__image' do
              = icon('fas', 'image')
              = f.file_field :image, class: 'display_none'
        .main-chat__footer--btn
          = f.submit 'Send', class: 'footer_btn'