.side-bar
  .side-bar__header
    .side-bar__header--items
      .user_name
        = current_user.name
      .icon
        = link_to new_group_path, class: "edit" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "cog" do
          = icon('fas', 'cog')
          
  .side-bar__contents
    - current_user.groups.each do |group|
      .side_bar__contents--groups 
        = link_to "#", class: "group" do
          = group.name
        .message
          メッセージはありません